{% extends "template.html" %}
{% block conteudo %}
<div class="container">
    <h1 class="page-header">{{titulo}}</h1>
    <div class="form-container">
        <form action="{{ url_for('criar_tarefa') }}" method="post"> <!-- direciona para o app.route -->
            {{form.csrf_token()}}
            <div class="form-group">
                {{ form.tarefa.label()}}
                {{ form.tarefa() }}
            </div>
            <div class="agrupar_btn">
                {{ form.salvar(class="btn btn-success") }}
                <a href="{{ url_for('index') }}" class="btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}